In [ ]:
import pandas as pd

#Copiare il link, nonostante non funzioni e soprattutto bisogna stare attenti al formato

In [ ]:
df = pd.read_excel("https://github.com/wtitze/3E/blob/main/Medals.xlsx?raw=true")
df

    Rank                    Team/NOC  Gold  ...  Bronze  Total  Rank by Total
0      1    United States of America    39  ...      33    113              1
1      2  People's Republic of China    38  ...      18     88              2
2      3                       Japan    27  ...      17     58              5
3      4               Great Britain    22  ...      22     65              4
4      5                         ROC    20  ...      23     71              3
..   ...                         ...   ...  ...     ...    ...            ...
88    86                       Ghana     0  ...       1      1             77
89    86                     Grenada     0  ...       1      1             77
90    86                      Kuwait     0  ...       1      1             77
91    86         Republic of Moldova     0  ...       1      1             77
92    86        Syrian Arab Republic     0  ...       1      1             77

[93 rows x 7 columns]

In [ ]:
df[df["Year of release"] != 2020 ]

KeyError: ignored

In [ ]:
df.drop('column_name', axis=1, inplace=True)

#ELIMINARE LE COLONNE RANK, TOTAL E RANK BY TOTAL

In [ ]:
df.drop(columns = ["Rank" , "Total" , "Rank by Total"],inplace = True)
df

KeyError: ignored

#CAMBIARE IL NOME DELLA COLONNA TEAM/NOC IN TEAM

In [ ]:
df.rename(columns = {"Team/NOC" : "Team"},inplace = True)
df

                          Team  Gold  Silver  Bronze
0     United States of America    39      41      33
1   People's Republic of China    38      32      18
2                        Japan    27      14      17
3                Great Britain    22      21      22
4                          ROC    20      28      23
..                         ...   ...     ...     ...
88                       Ghana     0       0       1
89                     Grenada     0       0       1
90                      Kuwait     0       0       1
91         Republic of Moldova     0       0       1
92        Syrian Arab Republic     0       0       1

[93 rows x 4 columns]

#CREARE UNA NUOVA COLONNA DOVE FARE IL TOTALE DI MEDAGLIE DI OGNI NAZIONE

In [ ]:
df["Total"] = df["Gold"] + df["Silver"] + df["Bronze"]
df

                          Team  Gold  Silver  Bronze  Total
0     United States of America    39      41      33    113
1   People's Republic of China    38      32      18     88
2                        Japan    27      14      17     58
3                Great Britain    22      21      22     65
4                          ROC    20      28      23     71
..                         ...   ...     ...     ...    ...
88                       Ghana     0       0       1      1
89                     Grenada     0       0       1      1
90                      Kuwait     0       0       1      1
91         Republic of Moldova     0       0       1      1
92        Syrian Arab Republic     0       0       1      1

[93 rows x 5 columns]

#LE NAZIONI CHE HANNO PRESO PIÃ¹ DI 80 MEDAGLIE

In [ ]:
df[df["Total"] > 80][["Team"]]
df[df["Total"] != 2020 ] [["Team"]]

                         Team
0    United States of America
1  People's Republic of China

#NUMERO MEDIO  DI MEDAGLIE VINTE DALLE NAZIONI

In [ ]:
df["Total"].mean()

0     113
1      88
2      58
3      65
4      71
     ...
88      1
89      1
90      1
91      1
92      1
Name: Total, Length: 93, dtype: int64

#LE NAZIONI CHE HANNO VINTO PIU MEDAGLIE DELLA MEDIA

In [ ]:
df[df["Total"] > df["Total"].mean()][["Team" , "Total"]]

                          Team  Total
0     United States of America    113
1   People's Republic of China     88
2                        Japan     58
3                Great Britain     65
4                          ROC     71
5                    Australia     46
6                  Netherlands     36
7                       France     33
8                      Germany     37
9                        Italy     40
10                      Canada     24
11                      Brazil     21
12                 New Zealand     20
13                        Cuba     15
14                     Hungary     20
15           Republic of Korea     20
16                      Poland     14
21                       Spain     17
23                 Switzerland     13
33              Chinese Taipei     12
34                      Turkey     13
43                     Ukraine     19

#*INIZIO ESERICIZI GROUPBY*

In [ ]:
df1 = pd.read_excel("https://github.com/wtitze/3E/blob/main/Athletes.xlsx?raw=true")
df1

                        Name      NOC           Discipline
0            AALERUD Katrine   Norway         Cycling Road
1                ABAD Nestor    Spain  Artistic Gymnastics
2          ABAGNALE Giovanni    Italy               Rowing
3             ABALDE Alberto    Spain           Basketball
4              ABALDE Tamara    Spain           Basketball
...                      ...      ...                  ...
11080  ZWICKER Martin Detlef  Germany               Hockey
11081      ZWOLINSKA Klaudia   Poland         Canoe Slalom
11082           ZYKOVA Yulia      ROC             Shooting
11083      ZYUZINA Ekaterina      ROC              Sailing
11084        ZYZANSKA Sylwia   Poland              Archery

[11085 rows x 3 columns]

#RAGGRUPPARE QUANTI ATLETI CI SONO

In [ ]:
df1.groupby("NOC").count()

                         Name  Discipline
NOC
Afghanistan                 5           5
Albania                     8           8
Algeria                    41          41
American Samoa              5           5
Andorra                     2           2
...                       ...         ...
Virgin Islands, British     3           3
Virgin Islands, US          4           4
Yemen                       3           3
Zambia                     29          29
Zimbabwe                    5           5

[206 rows x 2 columns]

 #QUANTI ATLETI CI SONO IN ITALIA

In [ ]:
df1[df1["NOC"].str.contains("Italy")].count()

Name          356
NOC           356
Discipline    356
dtype: int64

#LE NAZIONI CHE HANNO PIU DI 300 ATLETi

In [ ]:
df2 = df1.groupby("NOC").count()
df2[df2["Discipline"] > 300]

                            Name  Discipline
NOC
Australia                    470         470
Canada                       368         368
France                       377         377
Germany                      400         400
Great Britain                366         366
Italy                        356         356
Japan                        586         586
People's Republic of China   401         401
ROC                          318         318
Spain                        324         324
United States of America     615         615

#LA NAZIONE CHE HA PORTATO PÃ¹ ATLETI

In [ ]:
df2[df2["Name"] == df2["Name"].max()]

            Name   NOC
Discipline
Athletics   2068  2068

#IL NUMERO DI NAZIONI DI DISCIPLINA

In [ ]:
df2 = df1.groupby("Discipline").count()
df2

                       Name   NOC
Discipline
3x3 Basketball           62    62
Archery                 122   122
Artistic Gymnastics     187   187
Artistic Swimming        98    98
Athletics              2068  2068
Badminton               164   164
Baseball/Softball       220   220
Basketball              280   280
Beach Volleyball         90    90
Boxing                  270   270
Canoe Slalom             78    78
Canoe Sprint            236   236
Cycling BMX Freestyle    19    19
Cycling BMX Racing       43    43
Cycling Mountain Bike    74    74
Cycling Road            190   190
Cycling Track           208   208
Diving                  133   133
Equestrian              237   237
Fencing                 249   249
Football                567   567
Golf                    115   115
Handball                343   343
Hockey                  406   406
Judo                    373   373
Karate                   77    77
Marathon Swimming        49    49
Modern Pentathlon        69    69
Rhythmic Gymnastics      95    95
Rowing                  496   496
Rugby Sevens            283   283
Sailing                 336   336
Shooting                342   342
Skateboarding            77    77
Sport Climbing           37    37
Surfing                  38    38
Swimming                743   743
Table Tennis            164   164
Taekwondo               123   123
Tennis                  178   178
Trampoline Gymnastics    31    31
Triathlon               106   106
Volleyball              274   274
Water Polo              269   269
Weightlifting           187   187
Wrestling               279   279

#la disciplina con meno squadre

In [ ]:
df3= df1.groupby("Language").count()
df3[df3 == df3.min()]["Language"]

KeyError: ignored